html,
body {
  line-height: 1;
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  border: 0;
}

*::before,
*::after {
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img,
picture {
  display: block;
  max-width: 100%;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select,
option {
  cursor: pointer;
}

button {
  color: inherit;
  background-color: transparent;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  appearance: none;
}
