// Colors
$mainTextColor: #4f4f4f;
$secondaryTextColor: #161515;
$whiteColor: #ffffff;
// $accentColor: #026aa2;
$mainBgColor: #0f2b41;
// $secondaryBgColor: #0086c9;

// Breakpoints
$pc: 1200px;
$tablet: 992px;
$mobile: 768px;
// $mobileMedium: 574.98px;
$mobileSmall: 480px;
