@use "fonts";
@use "reset";
@use "vars";
@use "global";

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: vars.$mainTextColor;
  &.menu-open {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }
}

.title {
  font-family: "Lora", serif;
  font-size: 45px;
  text-transform: uppercase;
  line-height: 1.3;
  color: vars.$secondaryTextColor;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &--white {
    color: vars.$whiteColor;
  }
  @media (max-width: vars.$mobile) {
    font-size: 35px;
  }
  @media (max-width: vars.$mobileSmall) {
    font-size: 28px;
  }
}

// ====== HEADER ========================================================================================

.header {
  padding: 25px 0;
  color: vars.$secondaryTextColor;
  font-size: 16px;
  @media (max-width: vars.$tablet) {
    padding: 10px 0;
  }
  position: relative;
  @media (max-width: 830px) {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: 0;
      transition: opacity 0.3s;
      .menu-open & {
        opacity: 1;
      }
    }
  }
  // .header__container
  &__container {
    padding-top: 12px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  }
  // .header__logo
  &__logo {
    position: relative;
    z-index: 10;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }
  // .header__lang
  &__lang {
    display: flex;
    position: relative;
    z-index: 10;
  }
  // .header__lang-item
  &__lang-item {
  }
  // .header__lang-link
  &__lang-link {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        text-decoration-color: inherit;
      }
    }
    &--active {
      font-weight: 700;
    }
  }
  // .header__menu
  &__menu {
  }
  // .header__actions
  &__actions {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  // .header__actions-item
  &__actions-item {
  }
  // .header__actions-link
  &__actions-link {
    transition: transform 0.3s;
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.logo {
  // .logo__img
  &__img {
  }
}

.menu {
  @media (max-width: 830px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    overflow: auto;
    padding: 190px 30px 50px;
    background-color: vars.$whiteColor;
    transform: translateX(100%);
    transition: transform 0.5s;
    .menu-open & {
      transform: translateX(0%);
    }
  }
  // .menu__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    @media (max-width: vars.$tablet) {
      gap: 20px;
    }
    @media (max-width: 830px) {
      flex-direction: column;
      align-items: flex-end;
      gap: 40px;
    }
  }
  // .menu__item
  &__item {
  }
  // .menu__link
  &__link {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        text-decoration-color: inherit;
      }
    }
    @media (max-width: 830px) {
      font-size: 24px;
      text-align: end;
    }
  }
}

.menu-btn {
  display: none;
  @media (max-width: 830px) {
    display: block;
    position: relative;
    z-index: 10;
  }
}

// ======= FOOTER =======================================================================================

.footer {
  color: vars.$whiteColor;
  background-color: vars.$mainBgColor;
  font-size: 16px;
  // .footer__container
  &__container {
  }
  // .footer__nav
  &__nav {
    padding-top: 55px;
    padding-bottom: 60px;
    border-bottom: 1px solid #cdcdcd;
    @media (max-width: vars.$tablet) {
      padding: 50px 0;
    }
    @media (max-width: vars.$mobile) {
      padding: 70px 0 30px;
    }
  }
  // .footer__nav-list
  &__nav-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 87px;
    row-gap: 10px;
    @media (max-width: vars.$tablet) {
      justify-content: space-between;
      column-gap: 30px;
    }
    @media (max-width: vars.$mobile) {
      justify-content: center;
    }
  }
  // .footer__nav-item
  &__nav-item {
    &--logo {
      @media (max-width: vars.$mobile) {
        position: absolute;
        top: -45px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  // .footer__nav-link
  &__nav-link {
    position: relative;
    padding-bottom: 5px;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #fff;
      opacity: 0.35;
      transition: opacity 0.3s;
    }
    @media (any-hover: hover) {
      &:hover::after {
        opacity: 0;
      }
    }
  }
  // .footer__contact
  &__contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 83px;
    row-gap: 15px;
    padding: 50px 0;
    @media (max-width: vars.$pc) {
      column-gap: 50px;
    }
    @media (max-width: vars.$tablet) {
      padding: 30px 0;
    }
  }
  // .footer__contact-item
  &__contact-item {
    &--location {
      min-width: 160px;
      @media (max-width: vars.$pc) {
        min-width: auto;
      }
    }
    &--email {
      min-width: 253px;
    }
  }
  // .footer__contact-title
  &__contact-title {
    opacity: 0.5;
    margin-bottom: 20px;
    @media (max-width: vars.$mobileSmall) {
      margin-bottom: 10px;
    }
  }
  // .footer__contact-address
  &__contact-address {
    font-style: normal;
    line-height: 155%;
  }
  // .footer__contact-box
  &__contact-box {
  }
  // .footer__contact-link
  &__contact-link {
    display: block;
    line-height: 137.5%;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  // .footer__contact-form
  &__contact-form {
    position: relative;
  }
  // .footer__contact-input
  &__contact-input {
    width: 100%;
    padding: 1px 25px 5px 0;
    border-bottom: 1px solid #cdcdcd;
    background-color: transparent;
    color: vars.$whiteColor;
    line-height: 137.5%;
    &::placeholder {
      color: vars.$whiteColor;
      font-size: 16px;
    }
  }
  // .footer__contact-btn
  &__contact-btn {
    position: absolute;
    top: 6px;
    right: 0;
  }
  // .footer__social-list
  &__social-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  // .footer__social-item
  &__social-item {
  }
  // .footer__social-link
  &__social-link {
    transition: transform 0.3s;
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  // .footer__copy
  &__copy {
    background-color: vars.$secondaryTextColor;
    font-size: 11px;
    .footer__container {
      padding: 7px 75px 9px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      column-gap: 50px;
      row-gap: 10px;
      @media (max-width: vars.$mobile) {
        padding: 7px 10px 9px;
        justify-content: center;
      }
    }
  }
  // .footer__copy-text
  &__copy-text {
    line-height: 1.3;
  }
  // .footer__copy-list
  &__copy-list {
    display: flex;
    gap: 15px;
  }
  // .footer__copy-item
  &__copy-item {
    &:not(:last-child) {
      padding-right: 15px;
      border-right: 1px solid;
    }
  }
  // .footer__copy-link
  &__copy-link {
  }
}

// ========= HERO ===========================================================================================

.hero {
  position: relative;
  // .hero__container
  &__container {
    min-height: 879px;
    display: flex;
    align-items: center;
    padding: 150px 10px;
    @media (max-width: vars.$mobile) {
      min-height: 750px;
      padding: 100px 10px;
    }
    @media (max-width: vars.$mobileSmall) {
      min-height: 600px;
      padding: 50px 10px;
    }
  }
  // .hero__content
  &__content {
    position: relative;
    z-index: 1;
    max-width: 519px;
  }
  // .hero__title
  &__title {
    font-family: "Lora", serif;
    font-size: 75px;
    text-transform: uppercase;
    line-height: 1.2;
    color: vars.$secondaryTextColor;
    &:not(:last-child) {
      margin-bottom: 33px;
    }
    @media (max-width: vars.$mobile) {
      font-size: 60px;
    }
    @media (max-width: vars.$mobileSmall) {
      font-size: 48px;
    }
  }
  // .hero__link
  &__link {
    padding: 12px 38px;
    color: vars.$whiteColor;
    background-color: vars.$secondaryTextColor;
    line-height: 1.35;
    border-radius: 3px;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        text-decoration-color: inherit;
      }
    }
  }
  // .hero__img
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
    @media (max-width: vars.$tablet) {
      opacity: 0.8;
    }
  }
}

// ========= NEW COLLECTION =================================================================================

.new-collection {
  padding: 225px 0 90px;
  @media (max-width: vars.$tablet) {
    padding: 100px 0;
  }
  @media (max-width: vars.$mobile) {
    padding: 80px 0;
  }
  @media (max-width: vars.$mobileSmall) {
    padding: 60px 0;
  }
  // .new-collection__container
  &__container {
    position: relative;
    display: flex;
    padding: 0 40px;
    @media (max-width: vars.$pc) {
      padding: 0 10px;
    }
    @media (max-width: vars.$tablet) {
      gap: 30px;
      align-items: center;
    }
    @media (max-width: 650px) {
      flex-wrap: wrap;
      row-gap: 50px;
    }
  }
  // .new-collection__content
  &__content {
    max-width: 417px;
    margin-right: 27px;
    @media (max-width: vars.$tablet) {
      max-width: none;
      margin-right: 0;
    }
  }
  // .new-collection__title
  &__title {
  }
  // .new-collection__text
  &__text {
    line-height: 1.35;
    &:not(:last-child) {
      margin-bottom: 60px;
      @media (max-width: vars.$mobile) {
        margin-bottom: 30px;
      }
    }
    p {
      &:not(:last-child) {
        margin-bottom: 23px;
        @media (max-width: vars.$mobile) {
          margin-bottom: 10px;
        }
      }
    }
  }
  // .new-collection__link
  &__link {
    padding: 10px 65px;
    font-size: 16px;
    color: vars.$secondaryTextColor;
    text-align: center;
    border: 1px solid vars.$secondaryTextColor;
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: vars.$whiteColor;
        background-color: vars.$secondaryTextColor;
      }
    }
    @media (max-width: vars.$mobile) {
      width: 100%;
    }
  }
  // .new-collection__img
  &__img {
    flex-basis: 347px;
    flex-shrink: 0;
    @media (max-width: vars.$mobile) {
      flex-basis: 300px;
    }
    @media (max-width: 650px) {
      flex-basis: 100%;
      height: 400px;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 0px -80px;
      }
    }
  }
  // .new-collection__box
  &__box {
    position: absolute;
    top: -75px;
    right: 60px;
    max-width: 404px;
    @media (max-width: vars.$pc) {
      position: relative;
      right: 30px;
      flex-basis: 320px;
      flex-shrink: 0;
    }
    @media (max-width: vars.$tablet) {
      display: none;
    }
  }
  // .new-collection__box-img
  &__box-img {
    margin-bottom: 67px;
    @media (max-width: vars.$pc) {
      margin-bottom: 45px;
    }
  }
  // .new-collection__box-text
  &__box-text {
    padding-left: 115px;
    text-transform: uppercase;
    @media (max-width: vars.$pc) {
      padding-left: 70px;
    }
  }
}

// ============= JOIN US ==================================================================================

.join-us {
  position: relative;
  background-color: vars.$mainBgColor;
  color: vars.$whiteColor;
  // .join-us__container
  &__container {
    display: flex;
    justify-content: flex-end;
    padding: 94px 10px;
    @media (max-width: vars.$tablet) {
      display: block;
    }
    @media (max-width: vars.$mobile) {
      padding: 80px 10px;
    }
  }
  // .join-us__content
  &__content {
    position: relative;
    z-index: 1;
    flex-basis: 578px;
    @media (max-width: vars.$tablet) {
      max-width: 578px;
    }
  }
  // .join-us__title
  &__title {
  }
  // .join-us__text
  &__text {
    font-family: "Lora", serif;
    font-size: 30px;
    line-height: 1.26;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    @media (max-width: vars.$tablet) {
      max-width: 400px;
    }
    @media (max-width: vars.$mobile) {
      max-width: 250px;
      font-size: 20px;
    }
  }
  // .join-us__form
  &__form {
  }
  // .join-us__input
  &__input {
    width: 100%;
    background-color: transparent;
    padding-bottom: 5px;
    border-bottom: 1px solid vars.$whiteColor;
    color: vars.$whiteColor;
    &:first-of-type {
      margin-bottom: 20px;
    }
    &:last-of-type {
      margin-bottom: 40px;
    }
    &::placeholder {
      color: vars.$whiteColor;
    }
  }
  // .join-us__form-btn
  &__form-btn {
    width: 100%;
    padding: 12px;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    background-color: vars.$secondaryTextColor;
    transition: all 0.3s;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    @media (any-hover: hover) {
      &:hover {
        background-color: vars.$whiteColor;
        color: vars.$secondaryTextColor;
      }
    }
  }
  // .join-us__form-text
  &__form-text {
    font-size: 11px;
    line-height: 1.3;
    text-align: center;
  }
  // .join-us__img
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 48%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      @media (max-width: vars.$tablet) {
        object-position: left;
      }
    }
    @media (max-width: vars.$tablet) {
      width: 100%;
      opacity: 0.5;
    }
  }
}

// ============= ABOUT ==================================================================================

.about {
  padding: 90px 0 150px;
  @media (max-width: vars.$mobile) {
    padding: 80px 0 120px;
  }
  @media (max-width: vars.$mobileSmall) {
    padding: 60px 0 90px;
  }
  // .about__container
  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    @media (max-width: vars.$tablet) {
      align-items: stretch;
    }
    @media (max-width: vars.$mobile) {
      flex-wrap: wrap;
    }
    @media (max-width: vars.$mobileSmall) {
      gap: 30px;
    }
  }
  // .about__content
  &__content {
    flex-basis: 541px;
    margin-left: 30px;
    @media (max-width: vars.$pc) {
      margin-left: 0;
    }
    @media (max-width: vars.$mobile) {
      flex-basis: 100%;
    }
  }
  // .about__title
  &__title {
    &:not(:last-child) {
      margin-bottom: 5px;
      @media (max-width: vars.$mobile) {
        margin-bottom: 20px;
      }
    }
  }
  // .about__text
  &__text {
    p {
      line-height: 1.37;
      font-size: 16px;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    blockquote {
      max-width: 417px;
      margin: 70px 0;
      padding: 20px 27px;
      background-color: vars.$mainBgColor;
      font-family: "Lora", serif;
      color: vars.$whiteColor;
      @media (max-width: vars.$pc) {
        margin: 35px 0;
      }
      @media (max-width: vars.$mobile) {
        max-width: none;
        margin: 25px 0;
      }
    }
    blockquote p {
      font-size: 20px;
      line-height: 1.3;
    }
  }
  // .about__more
  &__more {
    flex-basis: 578px;
    @media (max-width: vars.$mobile) {
      flex-basis: 100%;
    }
  }
  // .about__img
  &__img {
    &:not(:last-child) {
      margin-bottom: 40px;
      @media (max-width: vars.$mobileSmall) {
        margin-bottom: 20px;
      }
    }
    @media (max-width: vars.$tablet) {
      height: 85%;
    }
    @media (max-width: vars.$mobile) {
      height: auto;
    }
    img {
      @media (max-width: vars.$tablet) {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  // .about__link
  &__link {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    border: 1px solid vars.$secondaryTextColor;
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: vars.$whiteColor;
        background-color: vars.$secondaryTextColor;
      }
    }
  }
}
